<div class="row" data-lunch-id='<%=@lunch.id%>'>
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <ul data-group-id='<%=group.id%>'id="sortable" class="droptrue"><%=group.name%>
      <% group.users.each do |user| %>
        <li data-user-id='<%=user.id%>'><%=user.name %></li>
      <%end%>
    </ul>
  <%end%>

</div>

<% content_for :extra_footer do %>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });

    $( "#sortable" ).disableSelection();
  });

</script>
<% end %>
