<div class='subheader panel'>
<h3> Drag the name of a user and drop it into another lunchgroup </h3>
<%= link_to "Go Back", lunches_path, class:'black button'%></div>
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <ul data-lunch-id='<%=@lunch.id%>' data-group-id='<%=group.id%>' id="sortable<%=group.id%>" class="droptrue sortable milky"><%=group.name%>
      <% group.users.each do |user| %>
        <li class="user" data-user-id='<%=user.id%>' ><%=user.name %></li>
      <%end%>
    </ul>
  <%end%>

<% content_for :extra_footer do %>
  <script>

  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });
    $(".sortable" ).on("sortreceive", function(event, ui) {
      event.preventDefault();
      var target = $(event.target);
      var target2 = ui.item.data('user-id');
      $.post('./' + target.data('group-id') + '/users/' + target2 + '/change_group', function(response){
        alert("success");
      });
      });
  });

  </script>
<% end %>
