<div class="row" >
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <ul data-lunch-id='<%=@lunch.id%>' data-group-id='<%=group.id%>' id="sortable" class="droptrue"><%=group.name%>
      <% group.users.each do |user| %>
        <li class="user" data-user-id='<%=user.id%>' ><%=user.name %></li>
      <%end%>
    </ul>
  <%end%>
</div>

  <script>

  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });
    $( "#sortable" ).on("sortreceive", function(event, ui) {
      event.preventDefault();
      var target = $(event.target);
      $.post('lunches/' + target.data('lunch-id') + '/groups/' + target.data('group-id') + '/users/' + target.data('user-id') + '/change_group', function(response){
      });
      });
  });

  </script>

