<div class="row">
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <table data-lunch-id='<%@lunch.id%>'>
      <thead>
        <tr>
          <th>Group</th>
          <th>Lunchgroupleader</th>
           <% group.users.each do |user|%>
          <th><%=user.department.name %>
          <%end%>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.lunchgroupleader%></td>
          <% group.users.each do |user|%>
            <td data-user-id='<%=user.id%>' ><%=user.name%>
            <input type="checkbox">
          <%end%>
          </td>
          <div data-group-id='<%=group.id%>' class="addToGroup" onclick='addToGroup(event)'><button class='button green'>Add to group <%=group.name%></button></div>
          <div data-group-id='<%=group.id%>' class="addToGroup" onclick='downToGroup(event)'><button class='button red'>Take down from <%=group.name%></button></div>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>


<% content_for :extra_footer do %>
<script>
  var addToGroup = function(e){
      e.preventDefault();
      var target = $(e.target);
      $.get('lunches/' + target.data('lunch-id') + '/' + target.data('group-id') + '/' + target.data('user-id') + '/addToGroup', function(response){
      });
  }

</script>
<% end %>
