
<div class="row" >
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <ul data-lunch-id='<%=@lunch.id%>' data-group-id='<%=group.id%>' id="sortable<%=group.id%>" class="droptrue sortable"><%=group.name%>
      <% group.users.each do |user| %>
        <li class="user" data-user-id='<%=user.id%>' ><%=user.name %></li>
      <%end%>
    </ul>
  <%end%>
</div>
  <% content_for :extra_footer do %>

  <script>

  $(function() {
    $( "ul.droptrue" ).sortable({
      connectWith: "ul"
    });
    $(".sortable" ).on("sortreceive", function(event, ui) {
      debugger;
      event.preventDefault();
      var target = $(event.target);
      var target2 = target.find('[data-user-id]');
      $.post('./' + target.data('group-id') + '/users/' + target2.data('user-id') + '/change_group', function(response){
      });
      });
  });

  </script>
  <% end %>

