<div class="row">
  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <table>
      <thead>
        <tr>
          <th>Group</th>
          <th>Lunchgroupleader</th>
           <% group.users.each do |user|%>
          <th><%=user.department.name %>
          <%end%>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.lunchgroupleader%></td>
        <% @group = group %>
        <%= form_tag change_lunch_groups_path(@lunch), method: :put do %>
          <% group.users.each do |user|%>
            <td><%=user.name%>
            <%= check_box_tag "group[users][]", user.id %>
            <%= label_tag "group[users][]", ""%>
          <%end%>
          </td>
          <div data-user-id='<%=user.id%>' class: "button addToGroup" onclick='addToGroup(event)'><%= submit_tag "Add to group #{@group.name}" %></div>
          <%= submit_tag "Take down from #{@group.name}"%> class: "button" onclick='downToGroup(event)'
        <%end%>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>


<% content_for :extra_footer do %>
<script>
  var addToGroup = function(e){
    e.preventDefault();
    var target
  }

</script>
<% end %>
