<div class="row">
<%= link_to "Edit groups", lunch_groups_path, class:'button'%>
<%= link_to "Download CSV", csv_lunch_groups_path, class:'button'%>
<%= link_to "Email groups", email_lunch_groups_path, class:'button'%>

  <% group_num = (@lunch.users.count/5)+1 %>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups[0...group_num] %>
  <% groupes.each do |group| %>
    <table>
      <thead>
        <tr>
          <th>group.name</th>
          <th>group.id</th>
          <th>lunchgroupleader</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.id %></td>
        <% user = User.where(id: group.lunchgroupleader)%>
        <td><%=user.name%></td>
          <% group.users.each do |user|%>
            <td><%=user.name%>
          <%end%>
          </td>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>


