<div class="row">
<%= link_to "Edit groups", change_groups_lunch_groups_path, class:'button'%>
<%= link_to "Download CSV", csv_lunch_groups_path, class:'button'%>
<%= link_to "Print groups", '#', class:'button'%>
<% if @lunch == Lunch.last %>
  <%= link_to "Email groups", email_lunch_groups_path, class:'button'%>
<%end%>

  <% group_num = (@lunch.users.count/5)+1%>
  <% @users = @lunch.users %>
  <% groupes = @lunch.groups.map {|c| c.groups.users.count > 1} %>
  <% groupes.each do |group| %>
    <table>
      <thead>
        <tr>
          <th>group.name</th>
          <th>group.id</th>
          <th>lunchgroupleader</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
          <th>name</th>
        </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.id %></td>

          <% group.users.each do |user|%>
            <td><%=user.name%>
          <%end%>
          </td>
      </tr>
    </tbody>
  </table>
  <%end%>
</div>

