<!-- #admin can edit users -->

<div class="row">
  <div class="large-6 large-offset-6 columns">
<%= simple_form_for @user do |f| %>
  <%= f.input :name %></br>
  <%= f.association :department %></br>
  <%= f.association :lunchgroupleader %></br>
  <%= f.input :optional %></br>
  <%= f.input :admin, as: :boolean%></br>
  <%= f.button :submit %></br>
<%end%>
</div>
