<table class="milky">
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Department</th>
      <th width="150">Lunchgroupleader</th>
      <th width="150">Note</th>
      <th width="50">Admin</th>
      <th width="150">Change Profile</th>
      <th width="100">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %> </td>
      <td><% if user.department %><%= user.department.name %><%end%></td>
      <td><% if user.lunchgroupleader %><%= user.lunchgroupleader.name %><%end%></td>
      <td><%= user.optional %></td>
      <td><%= user.admin %></td>
      <td><%= link_to 'edit', edit_user_path(user) %>
      <td><%= link_to 'delete', user, :method => :delete, data: { confirm: 'You can only delete the user if he is not part of any lunchgroup'} %>
    </tr>
    <%end%>
  </tbody>
</table>
