 <div class="wrapper">
<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.association :department %>
  <%= f.association :lunchgroupleader %>
  <%= f.input :optional %>
  <%= f.button :submit %>
<%end%>
</div>
