<!-- #user can edit himself -->

<div class="row"></br></br>
<% if Lunch.last.groups.size == 0 %>
    <% unless Lunch.last.users.include?(@user)%>
    <div class="large-6 large-offset-3 columns"><h1 class="red"><strong>Current status: Not Participating</strong></h1></br></br><%= link_to "Change response to 'Yes'", add_me_user_path(@user), class: 'button participating' %>  
    </div></br>
    <%else%>
    <div class="large-6 large-offset-3 columns"><h1 class="green"><strong>Current status: Participating</strong></h1></br><h2>Thanks for participating</h2><h3>We are looking forward to lunching with you</h3></br></br><%= link_to "Change responste to 'No'", not_me_user_path(@user), class: "button notParticipating" %>
   <%end%>   
<%end%>
</div>
<span class="textParticipating"><p></p></span>
<div class="row">
<%= simple_form_for @user do |f| %>
  <div class="large-6 large-offset-3 columns"><%= f.input :name %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.association :department, include_blank:false %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.association :lunchgroupleader, include_blank:false %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.input :optional %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.button :submit %></div></br>
<%end%>
</div>

