<!-- #user can edit himself -->

<div class="row"></br></br>
<div class="large-6 large-offset-3 columns"><a href="#" class="button">Default Button  <div>
</div></br></br>


<div class="row">
<%= simple_form_for @user do |f| %>
  <div class="large-6 large-offset-3 columns"><%= f.input :name %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.association :department, include_blank:false %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.association :lunchgroupleader, include_blank:false %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.input :optional %></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.button :submit %></div></br>
<%end%>

