
<!-- #user can edit himself -->

<div class="row"></br></br>
<% if Lunch.last.groups.size == 0 %>
<% attending = Lunch.last.users.include?(@user) %>
    <div class="large-6 large-offset-6 columns yes <%= 'show' if attending %>"><h1 class="red"><strong>Current status:</br> Not Participating</strong></h1></br></br><button class='button'>Change response to 'Yes'</button>
    </div>
    <div class="large-6 large-offset-6 columns no <%= 'show' if !attending %>"><h1 class="green"><strong>Current status: Participating</strong></h1></br></br><button class='button'>Change response to 'No'</button>
    </div>
<%end%>
</div>

<div class="row"></br></br>
<%= simple_form_for @user do |f| %>
  <div class="large-6 large-offset-6 columns"><%= f.input :name %></div></br>
  <div class="large-6 large-offset-6 columns"><%= f.association :department, include_blank:false %></div></br>
  <div class="large-6 large-offset-6 columns"><%= f.association :lunchgroupleader, include_blank:false %></div></br>
  <div class="large-6 large-offset-6 columns"><%= f.input :optional %></div></br>
  <div class="large-6 large-offset-6 columns"><%= f.button :submit %></div></br>
<%end%>
</div>

<% content_for :extra_footer do %>
<script>
  window.onload=function(){
    clickYes();
    clickNo();
  }
  var clickYes = function(){
    $('.yes').click(function(e){
      e.preventDefault();
      $.get('<%= @user.id %>' + '/add_me', function(response){
        $('.yes').toggle();
        $('.no').toggle();
      });
    })
  }
  var clickNo = function(){
  $('.no').click(function(e){
    e.preventDefault();
    $.get('<%= @user.id %>' + '/not_me', function(response){
      $('.no').toggle();
      $('.yes').toggle();
    });
  })
  }
</script>
<% end %>
