<div class="row">
  <div class="large-6 large-offset-3 columns"></br></br>
  <%= simple_form_for @department do |f| %>
    <%= f.input :name %></br>
    <%= f.button :submit %></br>
  <%end%>
  <% @departments.each do |x|%>
    <%= simple_form_for x do |f| %>
      <%= f.input :name %></br>
      <%= f.button :submit %></br>
  <%end%>
  <%end%>
  </div>
</div>

