<div class="large-6 large-offset-3 columns milky"></br></br>
  <%= simple_form_for @lunchgroupleader do |f| %>
    <%= f.input :name%></br>
    <%= f.button :submit %></br>
  <%end%>
<% @lunchgroupleaders.each do |x|%>
  <%= simple_form_for x do |f| %>
    <%= f.input :name %></br>
    <%= f.button :submit %></br>
  <%end%>
<%end%>
</div>
