<div class="row">
  <%= simple_form_for @lunchgroupleader do |f| %>
    <div class="large-6 large-offset-6 columns"><%= f.input :name%></div></br>
    <div class="large-6 large-offset-6 columns"><%= f.button :submit %></div></br>
  <%end%>
</div>

<div class="row">
<% @lunchgroupleaders.each do |x|%>
  <%= simple_form_for x do |f| %>
    <div class="large-6 large-offset-6 columns"><%= f.input :name %></div></br>
    <div class="large-6 large-offset-6 columns"><%= f.button :submit %></div></br>
  <%end%>
<%end%>
</div>
