<div class="large-8 large-offset-3 columns milky">
<h1> Change participant status for <strong><%= "#{@lunch.name} " %></strong></h1>
<p> You can edit the name of the lunch at the bottom</p>
<p>Ready ? <%= link_to "Go Back to Lunches", lunches_path%> in order to make groups </p>

<div class="edit">
<table class='going milky'>
  <thead>
    <tr>
      <th width="200">Participant</th>
      <th width="50">Change</th>
  </thead>
  <tbody>
    <%= simple_form_for @lunch, url: take_down_lunch_path(@lunch), method: :put do |f| %>
    <% @users.each do |user| %>
    <tr>
      <td class="green"><%= user.name %> </td>
      <td>
      <%= check_box_tag "lunch[users][]", user.id %>
      <%= label_tag "lunch[users][]", ""%> </td>
    </tr>
    <%end%>
    <%= f.submit 'TAKE DOWN', class: 'button'%>
    <% end %>
  </tbody>
</table>
</div>

<div class="edit">
<table class='not-going milky'>
  <thead>
    <tr>
      <th width="200">Not coming</th>
      <th width='50'>Change</th>
  </thead>
  <tbody>
    <%= simple_form_for @lunch, url: update_status_lunch_path(@lunch), method: :put do |f| %>
      <% @users_not_going.each do |user| %>
      <tr>
        <td class="red"><%= user.name %> </td>
        <td>
        <%= check_box_tag "lunch[users][]", user.id %>
        <%= label_tag "lunch[users][]", ""%> </td>
      </tr>
      <%end%>
    <%= f.submit 'ADD TO LUNCH', class: 'button'%>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<div class="large-8 large-offset-3 columns milky">
  <p>Below you have the opportunity to change the name of the current lunch as it appears on the front page</p>
  <%= simple_form_for @lunch do |f| %>
  <%= f.input :name %>
  <%= f.submit%>
  <%end%>
</div>

