<table>
  <thead>
    <tr>
      <th>LUNCH</th>
      <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <% @lunches.reverse.each do |lunch| %>
    <tr>
      <td><%= lunch.name %></td>
      <% if  lunch.groups.count >1 %>
      <td class="look"> <%= link_to "Look at the groups", lunch_groups_path(lunch), class:'button'%> </td>
      <%else%>
      <td class="make"> <%= link_to "Invite to Lunch", '#', class:'button'%> </td>
      <td class="make"><%= link_to "Arrange participants", lunch_path(lunch), class:'button' %></td>
      <td class="make"> <%= link_to "Make lunch groups", match_lunch_path(lunch), class:'button'%> </td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>


<%= simple_form_for @lunch do |f| %>
  <div class="large-6 large-offset-3 columns"><%= f.input :name%></div></br>
  <div class="large-6 large-offset-3 columns"><%= f.button :submit %></div></br>
<%end%>






