<div class="large-9 columns large-centered milky"></br></br>
  <% @lunches.reverse.each do |lunch| %>
    <ul><h2><%= lunch.name %></h2>
    <% if  lunch.groups.count >1 %>
      <%= link_to "Look at the groups", lunch_groups_path(lunch), class:'button'%>
    <%else%>
      <%= link_to "Arrange participants", edit_lunch_path(lunch), class:'button' %>
      <%= link_to "Make lunch groups", match_lunch_path(lunch), class:'button'%>
    <%end%>
    <div class="black"><%= link_to "Delete", lunch, method: :delete, data: {confirm: "Are you sure?"}%></div></ul>
  <%end%>

<p> You can only invite to lunch, arrange participants and </br>make groups for one lunch at a time.</p>
<%= simple_form_for @lunch do |f| %>
<%= f.input :name%></br>
<%= f.button :submit %></br>
<%end%>
</div>
</div>
</div>
