<div class="large-9 columns large-centered milky"></br></br>
<h3>The current lunch is <strong><%if Lunch.any?%><%=Lunch.last.name%><%else%>'no lunch created yet'<%end%></strong></h3>
<h4>You should have at least 10 participants in a lunch before you make the groups. One group holds five people.</h4>
<%= simple_form_for @lunch do |f| %>
<%= f.input :name, placeholder: "Type here the name for a new lunch" %>
<%= f.submit %></br></br>
<%end%>
<%if Lunch.any?%>
<% @lunches.reverse.each do |lunch| %>
  <ul><h2><%= lunch.name %></h2>
  <%if lunch.groups.size > 0 %>
    <%= link_to "View groups", lunch_groups_path(lunch), class:'button'%>
  <%else%>
    <%= link_to "1. Add participants", edit_lunch_path(lunch), class:'button' %>
    <%= link_to "2. Make lunch groups", match_lunch_path(lunch), class:'button'%>
  <%end%>
  <div class="black"><%= link_to "Delete", lunch, method: :delete %></div></br></ul>
<%end%>
<%end%>
</div>
