<div class="large-9 columns large-centered milky"></br></br>
<h3>The current lunch is <strong><%=Lunch.last.name%></strong></h3>
<h4>You should have at least 10 participants in a lunch before you make the groups</h4>
<%= simple_form_for @lunch do |f| %>
<%= f.input :name, placeholder: "Type here the name for a new lunch if the current lunch lies in the past" %>
<%= f.submit %></br>
<%end%>
<% @lunches.reverse.each do |lunch| %>
  <ul><h2><%= lunch.name %></h2>
  <% if  lunch.groups.count >1 %>
    <%= link_to "Look at the groups", lunch_groups_path(lunch), class:'button'%>
  <%else%>
    <%= link_to "1. Add participants", edit_lunch_path(lunch), class:'button' %>
    <%= link_to "2. Make lunch groups", match_lunch_path(lunch), class:'button'%>
  <%end%>
  <div class="black"><%= link_to "Delete", lunch, method: :delete, data: {confirm: "Are you sure?"}%></div></ul>
<%end%>

</div>
