<a href="#" class="button">Make Groups</a>

<h1> Change participant status for the <%= "#{@lunch.name} " %> </h1>

<div class="edit">
<table>
  <thead>
    <tr>
      <th width="200">Name</th>

  </thead>
  <tbody>
    <%= form_tag update_status_lunch_path(@lunch), method: :put do %>
    <% @lunch.users.each do |user| %>
    <tr>
      <td><%= user.name %> </td>

    </tr>
    <%end%>
    <%= submit_tag 'Update changes', class: 'button'%>
    <% end %>
  </tbody>
</table>
</div>

<div class="edit">
MIDDLE PART
</div>

<div class="edit">
<table>
  <thead>
    <tr>
      <th width="200">Name</th>

  </thead>
  <tbody>
    <%= form_tag take_down_lunch_path(@lunch), method: :put do %>

    <% @users_not =  User.all.map {|x| x unless @lunch.users.include?(x) } %>
    <% @users_not.compact.each do |user| %>
    <tr>
      <td><%= user.name %> </td>
    </tr>
    <%end%>
    <%= submit_tag 'Update changes', class: 'button'%>
    <% end %>
  </tbody>
</table>
</div>


