<a href="#" class="button">Make Groups</a>

<h1> Add users to <%= "#{@lunch.name} " %> </h1>

<table>
  <thead>
    <tr>
      <th width="200">Name</th>
      <th width="150">Department</th>
      <th width="150">Lunchgroupleader</th>
      <th width="150">Note</th>
      <th width="50">Admin</th>
      <th widht="100">Participating</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag update_status_lunch_path(@lunch), method: :put do %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %> </td>
      <td><%= user.department %></td>
      <td><%= user.lunchgroupleader %></td>
      <td><%= user.optional %></td>
      <td><%= user.admin %></td>
      <td>
      <%= check_box_tag "lunch[users][]", user.id %>
      <%= label_tag "lunch[users][]", @lunch.name%> </td>
    </tr>
    <%end%>
    <%= submit_tag 'Update changes', class: 'button'%>
    <% end %>
  </tbody>
</table>
