<nav class="top-bar contain-to-grid" data-topbar>
<ul class="title-area">
  <li class="name">
    <%if user_signed_in?%>
      <% if Lunch.last.groups.count > 1 %>
      <h1 class="pink"><%= link_to "View Groups", lunch_groups_path(Lunch.last)%></a></h1>
      <%else%>
      <h1 class="pink"><%= link_to "Go Lunch", edit_user_path(current_user)%></a></h1>
      <%end%>
    <% else %>
      <h1 class="pink"><%= link_to "Find on Github", "https://github.com/Bumbledebee/Debbie_go_lunch" %></a></h1>
    <%end%>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <% if user_signed_in? %>
    <li><%= link_to 'Contact Me', new_message_path %></li>
    <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%if current_user.admin? %>
   <li class="has-dropdown">
        <a href="#">Manage</a>
        <ul class="dropdown">
          <li><%= link_to 'Manage Lunches', lunches_path %></li>
          <li><%= link_to "Manage Departments", new_department_path %></li>
          <li><%= link_to "Manage Lunchgroupleaderoptions", new_lunchgroupleader_path %></li>
          <li><%= link_to "Manage Users", users_path %></li>
        </ul>
      <%end%>
    </li>
    <%else%>
    <li class="active"><%= link_to 'Join <%=Lunch.last.name%>', user_omniauth_authorize_path(:google_oauth2) %></li>
    <li class="has-dropdown">
        <a href="#">About</a>
    <ul class="dropdown">
      <li><%= link_to 'Login with Gmail', user_omniauth_authorize_path(:google_oauth2)%></li>
      <li><%= link_to "Login with Email", new_user_session_path %></li>
      <li><%= link_to "Feedback", new_message_path %></li>
    </ul>
      <%end%>
  </ul>

  <!-- Left Nav Section -->
  <ul class="left">
    <li><% link_to 'View Groups', lunch_groups_path(Lunch.last) %></li>
  </ul>
</section>
</nav>
