<!DOCTYPE html>
<html>
<head>
  <title>Toy</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <%if user_signed_in?%>
        <% if Lunch.last.groups.count > 1 %>
        <h1><%= link_to "View Groups", lunch_groups_path(Lunch.last)%></a></h1>
        <%else%>
        <h1><%= link_to "Go Lunch", edit_user_path(current_user)%></a></h1>
        <%end%>
      <% else %>
        <h1><%= link_to "Find on Github", "https://github.com/Bumbledebee/Debbie_go_lunch" %></a></h1>
      <%end%>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'Contact Me', new_message_path %></li>
      <li><%= link_to 'Gmail', user_omniauth_authorize_path(:google_oauth2) %></li>
      <% if user_signed_in? %>
      <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%if current_user.admin? %>
     <li class="has-dropdown">
          <a href="#">Manage</a>
          <ul class="dropdown">
            <li><%= link_to 'Manage Lunches', lunches_path %></li>
            <li><%= link_to "Manage Departments", new_department_path %></li>
            <li><%= link_to "Manage Lunchgroupleaderoptions", new_lunchgroupleader_path %></li>
            <li><%= link_to "Manage Users", users_path %></li>
          </ul>
        <%end%>
      </li>
      <%else%>
      <li class="active"><%= link_to 'Join', new_user_session_path %></li>
      <%end%>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><% link_to 'View Groups', lunch_groups_path(Lunch.last) %></li>
    </ul>
  </section>
</nav>
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "name noticemessage" %>
<% end -%>
<%= yield %>
<%= yield :extra_footer %>
<%= javascript_include_tag "application"%>
</body>
</html>

