<!DOCTYPE html>
<html>
<head>
  <title>Toy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Go Lunch</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
      <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure"}%></li>
        <%if current_user.admin? %>
     <li class="has-dropdown">
          <%= link_to 'Manage Participants', '/lunches/1' %>
          <ul class="dropdown">
            <li><%= link_to 'Manage Groups', '/lunches/1/groups/show' %></li>
            <li><%= link_to 'Manage Lunches', '/lunches' %></li>
          </ul>
        <%end%>
      </li>
      <%else%>
      <li class="active"><%= link_to 'Sign In', new_user_session_path %></li>
      <li class="has-dropdown">
        <%= link_to 'Sign Up with Mail', new_user_registration_path %>
        <ul class="dropdown">
          <li><a href="#">Sign up with Gmail</a></li>
          <li><a href="#">Blablaplaceholder</a></li>
          <li><a href="#">Another placeholder</a></li>
        </ul>
      </li>
      <%end%>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><% link_to 'View Groups', lunch_groups_path(Lunch.last) %></li>
    </ul>
  </section>
</nav>
  <p class="notice"><%= flash[:notice] %></p>
<%= yield %>
</body>
</html>


