<!DOCTYPE html>
<html>
<head>
  <title>Toy</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<body class="backgroundpicture">
  <nav class="top-bar contain-to-grid" data-topbar>
  <ul class="title-area">
    <li class="name">
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
      <li class="active"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%if current_user.admin? %>
          <li class="has-dropdown">
          <a href="#">Manage</a>
          <ul class="dropdown">
          <% if Lunch.last.groups.size < 1 %>
            <li><%= link_to 'RSVP', edit_user_path(current_user) %></li>
          <%else%>
            <li><%= link_to "View groups", lunch_groups_path(Lunch.last) %></li>
          <%end%>
          <li><%= link_to 'Manage Lunches', lunches_path %></li>
          <li><%= link_to "Manage Departments", new_department_path %></li>
          <li><%= link_to "Manage Lunchgroupleaderoptions", new_lunchgroupleader_path %></li>
          <li><%= link_to "Manage Users", users_path %></li>
          <li><%= link_to "Find on Github", new_message_path %></li>
          </ul>
          <%else%>
          <% if Lunch.last.groups.size < 1 %>
            <li><%= link_to 'RSVP', edit_user_path(current_user) %></li>
          <%else%>
            <li><%= link_to "View groups", lunch_groups_path(Lunch.last) %></li>
          <%end%>
        <%end%>
      </li>
      <%else%>
      <li class="active"><%= link_to 'Join the Lunch', user_omniauth_authorize_path(:google_oauth2) %></li>
      <li class="has-dropdown">
          <a href="#">About</a>
      <ul class="dropdown">
        <li><%= link_to 'Find on Github', "https://github.com/Bumbledebee/Debbie_go_lunch"%></li>
        <li><%= link_to "Send Feedback", new_message_path %></li>
      </ul></li>
        <%end%>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li ><%= link_to "GoLunch", root_path %></li>
      <% if current_user %><li class="pink"><a><%=current_user.email%></a></li><%end%>
    </ul>
  </section>
</nav>

<% flash.each do |name, msg| -%>
  <div class="noticemessage">
    <%= content_tag :div, msg, class: "name" %>
  </div>
<% end -%>

<div class="background row">
<%= yield %>
</div>
<%= javascript_include_tag "application"%>
<%= yield :extra_footer %>
</body>
</html>
